@page
@model IndexModel
@{
    ViewData["Title"] = "Ziyaret Konum";
}

@section head {
    <script>
        function getBarkod() { return getParameterByName("barkod") ? getParameterByName("barkod") : ""; }

        function baslat() {
            window.location.href = 'Ziyaret?gmref=' + getParameterByName("gmref") + '&smref=' + getParameterByName("smref") + '&slsref=' + getParameterByName("slsref") + '&barkod=' + getBarkod() +
                '&tip=' + getParameterByName("tip") + '&coords=' + $("#inputCoords").val() + '&address=' + $("#inputCoordAddress").val();
        }

        $(document).ready(function () {
            $('#divProgress').css("display", "none");

            if (getParameterByName("konum") == "") {
                alert("Müşterinin konumu sistemde kayıtlı değil. Konum alma sayfasına yönlendiriliyorsunuz.");
                window.location.href = '../Musteri/Konum/Al?smref=' + getParameterByName("smref") + '&tip=' + getParameterByName("tip") + '&deg=0';
            }
            else {
                KoordinatBaslat();
                getCari(getParameterByName("tip"), getParameterByName("smref"), getCariSube, "ziyMus");

                var latMus = getParameterByName("konum").split(",")[0];
                var lngMus = getParameterByName("konum").split(",")[1];
                var markerMus = new google.maps.Marker({ position: { lat: parseFloat(latMus), lng: parseFloat(lngMus) }, title: "Müşteri", label: "M" });
                
                setTimeout(function () {
                    try {
                        markerMus.setMap(map);
                    } catch (e) {

                    }
                }, 1000);
            }
        });

        function Sonlanmamis() {
            if (window.localStorage["ziyaret"]) {
                alert("Sonlandırılmamış bir ziyaret var, yönlendiriliyorsunuz.");
                window.location.href = 'Ziyaret?gmref=' + getParameterByName("gmref") + '&smref=' + getParameterByName("smref") + '&slsref=' + getParameterByName("slsref") + '&barkod=' + getBarkod() +
                '&tip=' + getParameterByName("tip") + '&coords=' + $("#inputCoords").val() + '&address=' + $("#inputCoordAddress").val();
            }
        }
    </script>
}
<h5 class="spanCiplak" id="ziyMus"></h5>
<input type="hidden" id="inputCoords" />
<input type="hidden" id="inputCoordsLat" />
<input type="hidden" id="inputCoordsLng" />
    Konumunuz:
<div id="divMap"></div>
<br />
<input type="text" class="form-control" id="inputCoordAddress" value="Konumunuz bulunuyor..." disabled />
<br />
<input type="button" class="btn btn-danger" value="Geri Dön" onclick="window.history.back()" />
<input type="button" id="btnZiyBaslat" class="btn btn-success konumTamam" value="Ziyareti Başlat" onclick="baslat()" disabled />

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXm_Z4J-I9jrTO72lGvx1jRzTWsP6qi7Q&libraries=geometry"></script>