@page
@model Varyok1Model
@{
    ViewData["Title"] = "Ziyaret Var/Yok Liste";
}

@section head {

}
<h5 class="spanCiplak" id="ziyMus"></h5>
<input class="form-control inputCiplak" type="text" name="inputAciklama" id="inputAciklama" placeholder="Açıklama" autocomplete="off">
