<configuration>
	<configSections>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Sultanlar.WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
	</appSettings>
	<connectionStrings/>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization recursionLimit="100" maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
	<rewriter>
		<rewrite url="~/index.html" to="~/default.aspx"/>
		<rewrite url="~/kurumsal.html" to="~/kurumsal.aspx"/>
		<rewrite url="~/insankaynaklari.html" to="~/insankaynaklari.aspx"/>
		<rewrite url="~/isbasvuru.html" to="~/isbasvuru.aspx"/>
		<rewrite url="~/isbasvurutam.html" to="~/isbasvurutam.aspx"/>
		<rewrite url="~/iletisim.html" to="~/iletisim.aspx"/>
		<rewrite url="~/cikis" to="~/musteri/cikis.aspx"/>
		<rewrite url="~/çıkış" to="~/musteri/cikis.aspx"/>
		<rewrite url="~/musteri/cikis" to="~/musteri/cikis.aspx"/>
		<rewrite url="~/musteri/giris.html" to="~/musteri/giris.aspx"/>
		<rewrite url="~/musteri/kayit.html" to="~/musteri/kayit.aspx"/>
		<rewrite url="~/musteri/kayitbasarili.html" to="~/musteri/kayitbasarili.aspx"/>
		<rewrite url="~/musteri/sifirlama.html" to="~/musteri/sifirlama.aspx"/>
		<rewrite url="~/musteri/katalog.html" to="~/musteri/katalog.aspx"/>
		<rewrite url="~/musteri/resim.html" to="~/musteri/resim.aspx"/>
		<rewrite url="~/musteri/katalog-(.+).html" to="~/musteri/katalog.aspx?kat=$1"/>
		<rewrite url="~/musteri/resim-(.+).html" to="~/musteri/resim.aspx?uid=$1"/>
    <rewrite url="~/musteri/resim-(.+).jpg" to="~/musteri/resim.aspx?uid=$1"/>
    <rewrite url="~/musteri/resimharic-(.+).jpg" to="~/musteri/resim.aspx?uidH=$1"/>
		<rewrite url="~/musteri/resim400-(.+).html" to="~/musteri/resim.aspx?uid400=$1"/>
		<rewrite url="~/resim400j-(.+).jpg" to="~/resim.aspx?uid400=$1"/>
		<rewrite url="~/quantumwebservislog.html" to="~/musteri/quantumwebservislog.aspx"/>
    <rewrite url="~/pratikcozumler/tarif/(.+)" to="~/kenton/sosyal/tarif.aspx?id=$1"/>
	</rewriter>
	<system.web>
		<httpModules>
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Data.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Printing.v12.2.Core, Version=12.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.RichEdit.v12.2.Core, Version=12.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/></assemblies>
		</compilation>
		<sessionState timeout="120" mode="InProc"></sessionState>
		<authentication mode="Forms">
			<forms loginUrl="musteri/giris.html" defaultUrl="musteri/default.aspx" timeout="120"/>
		</authentication>
		<!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
		<httpHandlers>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
		</httpHandlers>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
    <httpErrors>
      <error statusCode="403" subStatusCode="4" path="https://www.sultanlar.com.tr" responseMode="Redirect" />
    </httpErrors>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<handlers>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
		</handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
	</system.webServer>
	<system.serviceModel>
		<bindings/>
		<client/>
	</system.serviceModel>
	<applicationSettings>
		<Sultanlar.WebUI.Properties.Settings>
			<setting name="Sultanlar_WebUI_Quantum_svcLibraBiz" serializeAs="String">
				<value>http://10.1.1.9/QuantumWeb/svclibrabiz.asmx</value>
			</setting>
			<setting name="Sultanlar_WebUI_SAPsendorder_ZwebSendSalesOrderService" serializeAs="String">
				<value>http://exper2.tibet.com.tr:8000/sap/bc/soap/rfc</value>
			</setting>
			<setting name="Sultanlar_WebUI_SAPsendorderC_ZwebSendSalesOrderService" serializeAs="String">
				<value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
			</setting>
		</Sultanlar.WebUI.Properties.Settings>
	</applicationSettings>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>
