@page
@model IndexModel
@{
    ViewData["Title"] = "Resimler";
}

@section head {
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    <style>
        .dataTables_filter {
            display: none;
        }
    </style>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.tr.min.js"></script>

    <script>
        function getYil() { return getParameterByName("yil") ? getParameterByName("yil") : (new Date().getFullYear()).toString(); }
        function getAy() { return getParameterByName("ay") ? getParameterByName("ay") : (new Date().getMonth() + 1).toString(); }
        function getSlsref() { return getParameterByName("slsref") ? getParameterByName("slsref") : $('select[name=selectSaticilar]').val(); }
        function getTur() { return getParameterByName("tur") ? getParameterByName("tur") : $('select[name=selectTurler]').val(); }

        var kolonlar = [
            {
                "data": "pkID", "class": "bgwhite keyTd w120", render: function (data, type, row) {
                    return '<div class="imgKucRes"><a href="' + apiurl + 'resim/sderesim/' + data + '"><img class="urunResim lazyload" rel="' + apiurl + 'resim/sderesim/' + data + '" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="' + apiurl + 'resim/sderesimk/' + data + '" /></a></div>';
                }
            },
            {
                "data": "cari", "class": "valueTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data.musteri + '</span>';
                }
            },
            {
                "data": "cari", "class": "valueTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data.sube + '</span>';
                }
            },
            {
                "data": "tur", "class": "keyTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data.value.toLocaleUpperCase() + '</span>';
                }
            },
            {
                "data": "dtTarih", "class": "keyTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data.replace("T", " ") + '</span>';
                }
            },
            {
                "data": "strAciklama", "class": "valueTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data + '</span>';
                }
            }
        ];

        function SaticilarGetir() {
            var uyeid = window.localStorage["uyeid"];
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    type: 'POST',
                    url: apiurl + "satici",
                    data: '{ "uyeid": "' + uyeid + '" }',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        $("select[name=selectSaticilar]").empty().append($("<option></option>").text("Tümü").val("0"));
                        $("select[name=selectAy] option[value='0']").remove();
                        $.each(data, function (index, item) {
                            $("#selectSaticilar").append(
                                $("<option></option>")
                                    .text(item.sattem)
                                    .val(item.slsmanref)
                            );
                        });

                        $('select[name=selectSaticilar]').val(getSlsref());
                        TurlerGetir();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function TurlerGetir() {
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: apiurl + "resim/sderesimtur",
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        $("select[name=selectTurler]").empty().append($("<option></option>").text("Tümü").val("0"));
                        $.each(data, function (index, item) {
                            $("select[name=selectTurler]").append(
                                $("<option></option>")
                                    .text(item.value)
                                    .val(item.key)
                            );
                        });

                        $('select[name=selectTurler]').val(getTur());
                        getResimler();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function getResimler() {
            $("#dtTable input[type=text]").each(function (index, element) {
                $(element).val("");
            });
            var url1 = apiurl + "rut/getirrutresimler/" + getSlsref() + "/0/0/" + getTur() + "/" + getYil() + "/" + getAy();
            var table = $('#dtTable').on('xhr.dt', function (e, settings, json, xhr) {
                checkAuth(xhr);

                var musteriler = [];
                var subeler = [];
                var turler = [];
                $.each(json, function (index, item) {
                    if (musteriler.indexOf(item.cari.musteri) === -1)
                        musteriler.push(item.cari.musteri);
                    if (subeler.indexOf(item.cari.sube) === -1)
                        subeler.push(item.cari.sube);
                    if (turler.indexOf(item.tur.value.toLocaleUpperCase()) === -1)
                        turler.push(item.tur.value.toLocaleUpperCase());
                });
                if ($(window).width() > 576) {
                    $("#musteri").autocomplete({
                        source: musteriler
                    });
                    $("#sube").autocomplete({
                        source: subeler
                    });
                    $("#tur").autocomplete({
                        source: turler
                    });
                }

            }).DataTable({
                "responsive": true,
                "destroy": true,
                ajax: {
                    dataSrc: "",
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: url1
                },
                "initComplete": function (settings, json) {

                },
                "fnDrawCallback": function (oSettings) {
                    $('[data-toggle="tooltip"]').tooltip();
                    $('[data-toggle="tooltip"]').css("cursor", "pointer");
                    qtip();
                },
                dom: 'Bfrtip',
                buttons: ['excel', 'pdf', 'print'],
                columns: kolonlar,
                "language": defaultDtLang,
                "paging": true,
                "pagingType": "full_numbers",
                "ordering": false,
                "info": false,
                "searching": true,
                "deferRender": true
            });
            table.columns().every(function () {
                var that = this;
                $('input[type=text]', this.header()).on('inputchange', function () {
                    if ($(this).val() !== '') {
                        $(this).closest("th").find(".dtClearButton").css("display", "inline");
                    }
                    else {
                        $(this).closest("th").find(".dtClearButton").css("display", "none");
                    }
                    if (that.search() !== this.value) {
                        that.search(this.value.toLocaleUpperCase()).draw();
                    }
                });
                $('input[type=button]', this.header()).on('click', function () {
                    $(this).closest("th").find("input[type=text]").val("");
                });
            });
        }

        $(window).on("popstate", function (e) {
            $('select[name=selectSaticilar]').val(getSlsref());
            $('select[name=selectTurler]').val(getTur());
            $('select[name=selectYil]').val(getYil());
            $('select[name=selectAy]').val(getAy());
            getResimler();
        });

        $(document).ready(function () {
            $('select[name=selectYil]').val(getYil());
            $('select[name=selectAy]').val(getAy());
            $('select[name=selectTurler]').val(getTur());
            SaticilarGetir();
            $('#tarih').datepicker({
                locale: "tr",
                language: "tr",
                format: "yyyy-mm-dd",
                clearBtn: true,
                orientation: "auto bottom"
            });
            $('#tarih').on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });

            $('#selectSaticilar').on('change', function (e) {
                //if ($(this).val() == "0")
                //    $("select[name=selectAy] option[value='0']").remove();
                //else
                //    $("select[name=selectAy]").append($("<option></option>").text("Tümü").val("0"));
                window.history.pushState("", "Title", '?yil=' + $('select[name=selectYil]').val() + '&ay=' + $('select[name=selectAy]').val() + '&slsref=' + $('select[name=selectSaticilar]').val() + '&tur=' + $('select[name=selectTurler]').val());
                getResimler();
            });

            $('#selectYil').on('change', function (e) {
                window.history.pushState("", "Title", '?yil=' + $('select[name=selectYil]').val() + '&ay=' + $('select[name=selectAy]').val() + '&slsref=' + $('select[name=selectSaticilar]').val() + '&tur=' + $('select[name=selectTurler]').val());
                getResimler();
            });

            $('#selectAy').on('change', function (e) {
                window.history.pushState("", "Title", '?yil=' + $('select[name=selectYil]').val() + '&ay=' + $('select[name=selectAy]').val() + '&slsref=' + $('select[name=selectSaticilar]').val() + '&tur=' + $('select[name=selectTurler]').val());
                getResimler();
            });

            $('#selectTurler').on('change', function (e) {
                window.history.pushState("", "Title", '?yil=' + $('select[name=selectYil]').val() + '&ay=' + $('select[name=selectAy]').val() + '&slsref=' + $('select[name=selectSaticilar]').val() + '&tur=' + $('select[name=selectTurler]').val());
                getResimler();
            });
        });

        function qtip() {
            $('.urunResim').each(function () {
                $(this).qtip({
                    content: '<img src="' + $(this).attr('rel') + '" class="urunResimQtip" />',
                    position: { my: 'left top', at: 'top right' }
                });
            });
            lazyload();
        }
    </script>
}

<select id="selectSaticilar" name="selectSaticilar" class="dropDown selSaticilar"></select>

<select id="selectYil" name="selectYil" class="dropDown selYil">
    <option value="2019" selected="selected">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
</select>

<select id="selectAy" name="selectAy" class="dropDown selYil">
    <option value="0">Tümü</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
</select>
<br />
<select id="selectTurler" name="selectTurler" class="dropDown selSaticilar"></select>
<br />
<table id="dtTable" class="table table-striped table-bordered" style="width:100%" data-page-length='100'>
    <thead>
        <tr>
            <th class="keyTd desktop mobile-l mobile-p tablet-l tablet-p"><span class="spanCiplak">Resim</span></th>
            <th class="keyTd desktop"><span class="spanCiplak">Ana Cari</span><br /><input type="text" id="musteri" class="form-control input100yuzde" /><input type="button" class="dtClearButton" value="X" /></th>
            <th class="keyTd desktop mobile-l mobile-p tablet-l tablet-p"><span class="spanCiplak">Alt Cari</span><br /><input type="text" id="sube" class="form-control input100yuzde" /><input type="button" class="dtClearButton" value="X" /></th>
            <th class="keyTd desktop mobile-l mobile-p tablet-l tablet-p"><span class="spanCiplak">Tür</span><br /><input type="text" id="tur" class="form-control input100yuzde" /><input type="button" class="dtClearButton" value="X" /></th>
            <th class="keyTd desktop"><span class="spanCiplak">Tarih</span><br /><input type="text" id="tarih" class="form-control input100yuzde tarihpicker" /></th>
            <th class="keyTd desktop"><span class="spanCiplak">Açıklama</span><br /><input type="text" class="form-control input100yuzde" /><input type="button" class="dtClearButton" value="X" /></th>
        </tr>
    </thead>
</table>