@page
@model SilModel
@{
    ViewData["Title"] = "Mesaj Sil";
}

@section head {
    <script>
        function MesajSil() {
            document.getElementById("basTitle").innerHTML = "Mesaj Sil (" + getParameterByName2("mesajid") + ")";

            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: apiurl + "mesaj/sil/" + getParameterByName2("mesajid") + "/" + getParameterByName2("gelgit"),
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        if (data == "")
                            window.location.href = '../Mesaj/';
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        $(document).ready(function () {
            MesajSil();
        });
    </script>
}
<div id="divData">Siliniyor...</div>