<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sultanlar.WCF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\inetpub\wwwroot\SulWCF\Temp\server.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\inetpub\wwwroot\SulWCF\Temp\server_messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
    </httpHandlers>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="validation"
                   type="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.ValidationElement,&#xD;&#xA;             Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF"
                                                                               />
      </behaviorExtensions>
    </extensions>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
    <bindings>
      <webHttpBinding>
        <binding receiveTimeout="00:10:00" sendTimeout="00:10:00" name="webHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding receiveTimeout="00:10:00" sendTimeout="00:10:00" name="websHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding receiveTimeout="00:10:00" sendTimeout="00:10:00" name="basicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
      <!-- .net üzerinden service erişimi için gerekli -->
      <!-- <wsHttpBinding>
            <binding name="WSHttpBinding_IGeneral" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
              <security mode="Message">
                <message clientCredentialType="UserName"/>
              </security>
            </binding>
          </wsHttpBinding> -->
      <!-- .net üzerinden service erişimi için gerekli -->
      <wsHttpBinding>
        <binding name="wsSecureBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="wsNonSecureBinding">
          <security mode="None"> <!-- https ile TransportWithMessageCredential -->
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    
      <basicHttpBinding>
        <binding name="Binding1" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"> <!-- TransportCredentialOnly -->
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      
    </bindings>
    <services>
      
      <service name="Sultanlar.WCF.Komsu" behaviorConfiguration="KomsuBehavior"> <!-- Behavior1 -->
        <endpoint bindingConfiguration="websHttpBinding" address="/web" binding="webHttpBinding" contract="Sultanlar.WCF.IKomsu" behaviorConfiguration="webHttpBehavior" />
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsSecureBinding" name="MyService" contract="Sultanlar.WCF.IKomsu" />
      </service>

      <service name="Sultanlar.WCF.Komsu2" behaviorConfiguration="KomsuBehavior">
        <!-- Behavior1 -->
        <endpoint bindingConfiguration="websHttpBinding" address="/web" binding="webHttpBinding" contract="Sultanlar.WCF.IKomsu2" behaviorConfiguration="webHttpBehavior" />
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsNonSecureBinding" name="MyService" contract="Sultanlar.WCF.IKomsu2" />
      </service>
        
      <service name="Sultanlar.WCF.General" behaviorConfiguration="SultanlarWCFBehavior">
        <endpoint bindingConfiguration="webHttpBinding" address="/web" binding="webHttpBinding" contract="Sultanlar.WCF.IGeneral" behaviorConfiguration="webHttpBehavior" />
        <endpoint bindingConfiguration="basicHttpBinding" address="" binding="webHttpBinding" contract="Sultanlar.WCF.IGeneral" behaviorConfiguration="basicHttpBehavior" />
        <!-- <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" /> -->
        <!-- .net üzerinden service erişimi için gerekli -->
        <!-- <endpoint address="ws"
                  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGeneral"
                  contract="Sultanlar.WCF.IGeneral" name="WSHttpBinding_IGeneral" /> -->
        <!-- .net üzerinden service erişimi için gerekli -->
      </service>
      <service name="Sultanlar.WCF.TarifSepeti" behaviorConfiguration="SultanlarWCFBehavior">
        <endpoint bindingConfiguration="webHttpBinding" address="/web" binding="webHttpBinding" contract="Sultanlar.WCF.ITarifSepeti" behaviorConfiguration="webHttpBehavior" />
        <endpoint bindingConfiguration="basicHttpBinding" address="" binding="webHttpBinding" contract="Sultanlar.WCF.ITarifSepeti" behaviorConfiguration="basicHttpBehavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Sultanlar.WCF.Database" behaviorConfiguration="ErisimAcik">
        <endpoint bindingConfiguration="webHttpBinding" address="/web" binding="webHttpBinding" contract="Sultanlar.WCF.IDatabase" behaviorConfiguration="webHttpBehavior" />
        <endpoint bindingConfiguration="basicHttpBinding" address="" binding="webHttpBinding" contract="Sultanlar.WCF.IDatabase" behaviorConfiguration="basicHttpBehavior" />
      </service>
      <service name="Sultanlar.WCF.Direct" behaviorConfiguration="ErisimAcik">
        <endpoint bindingConfiguration="webHttpBinding" address="/web" binding="webHttpBinding" contract="Sultanlar.WCF.IDirect" behaviorConfiguration="webHttpBehavior" />
        <endpoint bindingConfiguration="basicHttpBinding" address="" binding="webHttpBinding" contract="Sultanlar.WCF.IDirect" behaviorConfiguration="basicHttpBehavior" />
      </service>
      <service name="Sultanlar.WCF.Pirpa" behaviorConfiguration="PirpaCr">
        <endpoint bindingConfiguration="webHttpBinding" address="/web" binding="webHttpBinding" contract="Sultanlar.WCF.IPirpa" behaviorConfiguration="webHttpBehavior" />
        <endpoint bindingConfiguration="basicHttpBinding" address="" binding="webHttpBinding" contract="Sultanlar.WCF.IPirpa" behaviorConfiguration="basicHttpBehavior" />
        <endpoint address="ws"
                  binding="wsHttpBinding" bindingConfiguration="wsSecureBinding"
                  contract="Sultanlar.WCF.IPirpa" name="wsSecureService" />
      </service>
	    <service name="Sultanlar.WCF.BayiServis" behaviorConfiguration="ErisimKapali">
		    <endpoint bindingConfiguration="webHttpBinding" address="/web" binding="webHttpBinding" contract="Sultanlar.WCF.IBayiServis" behaviorConfiguration="webHttpBehavior" />
		    <endpoint bindingConfiguration="basicHttpBinding" address="" binding="webHttpBinding" contract="Sultanlar.WCF.IBayiServis" behaviorConfiguration="basicHttpBehavior" />
		    <endpoint address="ws"
                      binding="wsHttpBinding" bindingConfiguration="wsNonSecureBinding"
                      contract="Sultanlar.WCF.IBayiServis" name="wsSecureService" />
	    </service>
      <!--<service name="Sultanlar.WCF.GeneralMEX">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          contract="Sultanlar.WCF.IGeneral">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://213.74.26.84/SulWCF/General.svc" />
          </baseAddresses>
        </host>
      </service>-->
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
        <behavior name="basicHttpBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        
        <behavior name="Behavior1">
                <serviceMetadata httpGetEnabled="true" />
                <serviceDebug includeExceptionDetailInFaults="true" />
                <serviceCredentials>
                    <serviceCertificate findValue="localhost"
                          storeLocation="LocalMachine"
                          storeName="My"
                          x509FindType="FindBySubjectName" /> 
                    <userNameAuthentication userNamePasswordValidationMode="Custom"
                     customUserNamePasswordValidatorType="Sultanlar.WCF.KomsuServiceAuthenticator, Sultanlar.WCF" />
                </serviceCredentials>
        </behavior> 
          
        <behavior name="SultanlarWCFBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceMetadata httpGetEnabled="false" /> <!-- true -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <!-- .net üzerinden service erişimi için gerekli -->
          <!-- <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Sultanlar.WCF.Validator, Sultanlar.WCF"/>
            <serviceCertificate findValue="SulWCF" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
          </serviceCredentials> -->
          <!-- .net üzerinden service erişimi için gerekli -->
        </behavior>
        <behavior name="KomsuBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Sultanlar.WCF.KomsuServiceAuthenticator, Sultanlar.WCF"/>
          </serviceCredentials>
        </behavior>
        <behavior name="ErisimAcik">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ErisimKapali">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="PirpaCr">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Sultanlar.WCF.PirpaServiceAuthenticator, Sultanlar.WCF"/>
          </serviceCredentials>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <applicationSettings>
    <Sultanlar.WCF.Properties.Settings>
      <setting name="Sultanlar_WCF_Komsu001_ZwebKomsuF001Service" serializeAs="String">
        <value>http://192.168.1.41:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_Komsu002_ZwebKomsuF002Service" serializeAs="String">
        <value>http://192.168.1.41:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_Komsu003_ZwebKomsuF003Service" serializeAs="String">
        <value>http://192.168.1.41:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_Komsu004_ZwebKomsuF004Service" serializeAs="String">
        <value>http://192.168.1.41:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_KomsuC001_ZwebKomsuF001Service"
        serializeAs="String">
        <value>http://192.168.1.42:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_KomsuC002_ZwebKomsuF002Service"
        serializeAs="String">
        <value>http://192.168.1.42:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_KomsuC003_ZwebKomsuF003Service"
        serializeAs="String">
        <value>http://192.168.1.42:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_KomsuC004_ZwebKomsuF004Service"
        serializeAs="String">
        <value>http://192.168.1.42:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_komsuC0011_ZwebKomsuF001Service"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_komsuC0021_ZwebKomsuF002Service"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_komsuC0031_ZwebKomsuF003Service"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WCF_komsuC0041_ZwebKomsuF004Service"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
    </Sultanlar.WCF.Properties.Settings>
  </applicationSettings>
</configuration>