@page
@model OnaylaModel
@{
    ViewData["Title"] = "Sipariş Onayla";
}

@section head {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>

    <script>
        var siparisid;

        function SiparislerDetayGetir() {
            var url1 = apiurl + "siparis/get/" + siparisid;
            $('#dtTable').on('xhr.dt', function (e, settings, json, xhr) {
                checkAuth(xhr);

                document.getElementById("basTitle").innerHTML = "Sipariş Onayla (" + json.pkSiparisID + ")";
                if (json.blAktarilmis) {
                    alert("Sipariş zaten onaylı.");
                    window.history.back();
                }
            }).DataTable({
                ajax: {
                    dataSrc: "detaylar",
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: url1
                },
                "initComplete": function (settings, json) {
                    qtip();
                },
                columns: inceleonaylasilcolumns,
                "language": defaultDtLang,
                "paging": true,
                "ordering": true,
                "info": false,
                "searching": true,
                "deferRender": true,
                "order": [[2, "asc"]]
            });
        }

        function onayla() {
            window.localStorage["bakiye"] = $("#cbBakiye").is(':checked');
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    type: 'POST',
                    url: apiurl + "siparis/onay",
                    data: '{ "siparisid": "' + siparisid + '", "bakiye": "' + ($("#cbBakiye").is(':checked') ? "1" : "0") + '", "musteriid": "' + window.localStorage["uyeid"] + '" }',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data, textStatus, response) {
                        checkAuth(response);
                        if (data == "")
                            window.location.href = "Siparisler?onay=1";
                        else {
                            alert("Sipariş onaylanamadı. hata: " + data);
                            window.location.href = "Siparisler";
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        $(document).ready(function () {
            $("#cbBakiye").prop('checked', window.localStorage["bakiye"] == "true" ? true : false);
            siparisid = getParameterByName('siparisid');
            SiparislerDetayGetir();
            $('#dtTable').on('draw.dt', function () {

            });
        });

        function qtip() {
            $('.urunResim').each(function () {
                $(this).qtip({
                    content: '<img src="' + $(this).attr('rel') + '" class="urunResimQtip" />',
                    position: { at: 'top right' }
                });
            });
            lazyload();
        }
    </script>
}
<div class="pretty p-default p-curve p-toggle">
    <input id="cbBakiye" type="checkbox">
    <div class="state p-success p-on">
        <label>Bakiye kalsın</label>
    </div>
    <div class="state p-danger p-off">
        <label>Bakiye kalmasın</label>
    </div>
</div>
<br /><br />
<h4>Siparişinizin bakiye kalmasını istiyorsanız üstteki "Bakiye" kutusunu yeşil yapınız.</h4>
<br />
<div class="centerVeMiddle">
    <input type="button" class="btn btn-success secimTus" value="Siparişi Onayla" onclick="onayla()" />
    <input type="button" class="btn btn-danger secimTus" value="Vazgeç ve Geri Dön" onclick="window.history.back()" />
</div>
<br />
<table id="dtTable" class="table table-striped table-bordered" style="width:100%" data-page-length='50'>
    <thead>
        <tr>
            <th class="keyTd hidewhenmobile"><span class="">&nbsp;&nbsp;&nbsp;&nbsp;Resim&nbsp;&nbsp;&nbsp;&nbsp;</span></th>
            <th class="keyTd"><span class="">Kod</span></th>
            <th class="keyTd"><span class="">Malzeme</span></th>
            <th class="keyTd hidewhenmobile"><span class="">Fiyat</span></th>
            <th class="keyTd hidewhenmobile"><span class="">İsk1</span></th>
            <th class="keyTd hidewhenmobile"><span class="">İsk2</span></th>
            <th class="keyTd hidewhenmobile"><span class="">İsk3</span></th>
            <th class="keyTd hidewhenmobile"><span class="">İsk4</span></th>
            <th class="keyTd"><span class="">Miktar</span></th>
            <th class="keyTd hidewhenmobile"><span class="">Net</span></th>
            <th class="keyTd hidewhenmobile"><span class="">Toplam</span></th>
        </tr>
    </thead>
</table>