@page
@model SiparisModel
@{
    ViewData["Title"] = "Sipariş";
}

@section head {
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.tr.min.js"></script>

    <script>
        var paramsmref;
        var paramftip;
        var siparisid;

        function getFiyatlar() {
            var url1 = apiurl + "fiyat/getbytip/" + getParameterByName("ftip");
            $('#dtTable').on('xhr.dt', function (e, settings, json, xhr) {
                checkAuth(xhr);
            }).DataTable({
                ajax: {
                    dataSrc: "",
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: url1
                },
                "initComplete": function (settings, json) {
                    $('.dataTables_filter input').keyup(function () {
                        $(this).val($(this).val().toLocaleUpperCase());
                    });
                },
                "fnDrawCallback": function (oSettings) {
                    qtip();
                },
                columns: siparisiadeaktivitecolumns,
                "language": defaultDtLang,
                "paging": true,
                "ordering": true,
                "info": false,
                "searching": true,
                "deferRender": true
            });
        }

        function getIsksA(smref, itemref, tarih) {
            var isks;

            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: apiurl + "siparis/getisks/" + smref + "/" + itemref + "/" + tarih,
                    async: false,
                    success: function (data, textStatus, response) {
                        checkAuth(response);
                        isks = data;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );

            return isks;
        }

        function siparisiGoster() {
            sencHeader();
            window.location.href = 'Icerik?smref=' + paramsmref + '&fiyattipi=' + paramftip + '&siparisid=' + siparisid;
        }

        function sipariseAktar() {
            sencHeader();
            $('#dtTable').find('input.inputSecim').each(function () {
                if ($(this).val() != "") {
                    var cookie = JSON.parse(getLocal());
                    var varmis = false;
                    var itref = $(this).attr('accesskey');
                    var miktur = $(this).closest("tr").find(".ddTur").val();
                    var malac = $(this).closest("tr").find(".malacik").text();
                    var mik = parseInt($(this).val());
                    var netkd = $(this).closest("tr").find(".netkdv").text();

                    for (var j = 0; j < cookie.length; j++) {
                        var cookiedet = cookie[j].detaylar;
                        if (cookie[j].smref == paramsmref && cookie[j].ftip == paramftip && cookie[j].siparisid == siparisid) {
                            for (var i = 0; i < cookiedet.length; i++) {
                                if (cookiedet[i].itemref == itref && cookiedet[i].miktartur == miktur) {
                                    cookiedet[i].miktar = parseInt(cookiedet[i].miktar) + mik;
                                    varmis = true;
                                    break;
                                }
                            }

                            if (!varmis) {
                                var isks = { fiyat:0, isk1:0, isk2:0, isk3:0, isk4:0 };
                                if (paramftip == 2) {
                                    isks = getIsksA(paramsmref, itref, getDateNow());
                                }

                                cookiedet.push(
                                    {
                                        itemref: itref,
                                        malacik: malac,
                                        miktar: mik,
                                        miktartur: miktur,
                                        isk1: isks.isk1,
                                        isk2: isks.isk2,
                                        isk3: isks.isk3,
                                        isk4: isks.isk4,
                                        netkdv: netkd
                                    }
                                );
                            }
                        }
                    }

                    sencLocal(cookie);
                    $(this).val("");
                }
            });
        }

        function getLocal() {
            return window.localStorage['sepet'];
        }

        function sencLocal(data) {
            window.localStorage['sepet'] = JSON.stringify(data);
        }

        function sencHeader() {
            var cookie = JSON.parse(getLocal());
            var degistirildi = false;
            for (var i = 0; i < cookie.length; i++) {
                if (cookie[i].smref == paramsmref && cookie[i].ftip == paramftip && cookie[i].siparisid == siparisid) {
                    degistirildi = true;
                    cookie[i].aciklama = $("#inputAciklama").val();
                    cookie[i].teslim = $("#inputTeslim").val();
                }
            }
            if (degistirildi)
                sencLocal(cookie);
        }

        function header() {
            var cookie = JSON.parse(getLocal());
            var varmis = false;

            for (var i = 0; i < cookie.length; i++) {
                if (cookie[i].smref == paramsmref && cookie[i].ftip == paramftip && cookie[i].siparisid == siparisid) {
                    varmis = true;
                    $("#inputAciklama").val(cookie[i].aciklama);
                    $("#inputTeslim").val(cookie[i].teslim);
                }
            }

            if (!varmis) { // siparis yeni başlıyor ya da hiç siparis cookie yoktu
                cookie.push(
                    {
                        siparisid: siparisid,
                        smref: paramsmref,
                        ftip: paramftip,
                        aciklama: $("#inputAciklama").val(),
                        teslim: $("#inputTeslim").val(),
                        musteri: window.localStorage["uyeid"],
                        detaylar: []
                    }
                );
                sencLocal(cookie);
            }
        }

        $(document).ready(function () {
            paramsmref = getParameterByName('smref');
            paramftip = getParameterByName('ftip');
            siparisid = getParameterByName('siparisid') ? getParameterByName('siparisid') : "0";

            $('#inputTeslim').datepicker({
                locale: "tr",
                language: "tr",
                orientation: "auto bottom",
                startDate: '0m',
                endDate: new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0)
            });
            $("#inputTeslim").datepicker("update", getDateNowStr().substring(0, 10));
            $('#inputTeslim').on('changeDate', function (ev) { $(this).datepicker('hide'); sencHeader(); });
            $('#inputAciklama').on('keyup', function (ev) { sencHeader(); });

            header();
            getCari("1", paramsmref, getCariSube, "sipMus");
            getFiyatlar();
            $('#dtTable').on('draw.dt', function () {

            });
        });

        function qtip() {
            $('.urunResim').each(function () {
                $(this).qtip({
                    content: '<img src="' + $(this).attr('rel') + '" class="urunResimQtip" />',
                    position: { at: 'top right' }
                });
            });
            lazyload();
        }
    </script>
}
<h5 class="spanCiplak" id="sipMus"></h5>
<input class="form-control inputCiplak tarihpicker" type="text" name="inputTeslim" id="inputTeslim" placeholder="Teslim Tarihi" autocomplete="off" onkeypress="return false">
<input class="form-control inputCiplak" type="text" name="inputAciklama" id="inputAciklama" placeholder="Açıklama" autocomplete="off">
<input type="button" id="sipAktar" class="btn btn-primary secimTus" value="Seçimi Siparişe Aktar" onclick="sipariseAktar()" />
<input type="button" class="btn btn-info secimTus" value="Siparişi İçeriğini Göster" onclick="siparisiGoster()" />
<table id="dtTable" class="table table-striped table-bordered" style="width:100%" data-page-length='50'>
    <thead>
        <tr>
            <th class="keyTd"><span class="">&nbsp;&nbsp;&nbsp;&nbsp;Resim&nbsp;&nbsp;&nbsp;&nbsp;</span></th>
            <th class="keyTd"><span class="">Kod</span></th>
            <th class="keyTd"><span class="">Malzeme</span></th>
            <th class="keyTd hidewhenmobile"><span class="">Fiyat</span></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
        </tr>
    </thead>
</table>