@page
@model Sultanlar.WUI.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

@section head {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script>
        function SaticilarGetir(uyeid) {
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    type: 'POST',
                    url: apiurl + "satici",
                    data: '{ "uyeid": "' + uyeid + '" }',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        $("#selectSaticilar option").remove();
                        $("#selectSaticilarBolum option").remove();
                        if (window.localStorage["uyetipiid"] == "aZZA1PyhVTw=") {
                            $("#selectSaticilar").append($("<option></option>").text("Tümü").val("1"));
                            $("#selectSaticilarBolum").append($("<option></option>").text("Tümü").val("1"));
                        }
                        $.each(data, function (index, item) {
                            $("#selectSaticilar").append($("<option></option>").text(item.sattem).val(item.slsmanref));
                            $("#selectSaticilarBolum").append($("<option></option>").text(item.sattem).val(item.slsmanref));
                        });

                        HedefGetir();
                        BolumGetir();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function BolumGetir() {
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: apiurl + "dashboard/bolum/" + yilbolum + "/" + slsrefbolum,
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        bolumdata = [{
                            name: 'ARI',
                            data: []
                        }, {
                            name: 'HAYAT',
                            data: []
                        }, {
                            name: 'TEMİZLİK',
                            data: []
                        }, {
                            name: 'YEG',
                            data: []
                        }];
                        for (var i = 0; i < data.length; i++) {
                            for (var j = 0; j < bolumdata.length; j++) {
                                if (data[i].bolum == bolumdata[j].name) {
                                    bolumdata[j].data.push(data[i].koli);
                                }
                            }
                        }
                        getBolumGraph();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function toplambolum() {
            var toplam = 0;
            var toplamari = 0;
            var toplamhayat = 0;
            var toplamtemizlik = 0;
            var toplamyeg = 0;
            for (var i = 0; i < bolumdata.length; i++) {
                for (var j = 0; j < bolumdata[i].data.length; j++) {
                    if (bolumdata[i].name == "ARI") {
                        toplamari += bolumdata[i].data[j];
                    }
                    else if (bolumdata[i].name == "HAYAT") {
                        toplamhayat += bolumdata[i].data[j];
                    }
                    else if (bolumdata[i].name == "TEMİZLİK") {
                        toplamtemizlik += bolumdata[i].data[j];
                    }
                    else if (bolumdata[i].name == "YEG") {
                        toplamyeg += bolumdata[i].data[j];
                    }
                    toplam += bolumdata[i].data[j];
                }
            }
            return toplam.formatMoney(0, 0, ".") + " (Arı: " + toplamari.formatMoney(0, 0, ".") + " Hayat: " + toplamhayat.formatMoney(0, 0, ".") + " Temizlik: " + toplamtemizlik.formatMoney(0, 0, ".") + " Yeg:" + toplamyeg.formatMoney(0, 0, ".") + ")";
        }

        function HedefGetir() {
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: apiurl + "dashboard/hedef/" + yil + "/" + slsref,
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        hedefdata = data;
                        SatisGetir();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function SatisGetir() {
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: apiurl + "dashboard/satis/" + yil + "/" + slsref,
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        satisdata = data;
                        getSatisHedefGraph();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function toplamhedef() {
            var toplam = 0;
            for (var i = 0; i < hedefdata.length; i++) {
                toplam += hedefdata[i];
            }
            return toplam.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        function toplamsatis() {
            var toplam = 0;
            for (var i = 0; i < satisdata.length; i++) {
                toplam += satisdata[i];
            }
            return toplam.toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        slsref = 1;
        yil = new Date().getFullYear();
        satisdata = [];
        hedefdata = [];

        function getSatisHedefGraph() {
            Highcharts.chart('divData', {

                title: {
                    text: 'Satış-Hedef aylık'
                },

                subtitle: {
                    text: "Hedef: " + toplamhedef() + " Satış: " + toplamsatis()
                },

                yAxis: {
                    title: {
                        text: 'Koli'
                    }
                },

                xAxis: {
                    accessibility: {
                        rangeDescription: 'Ocak - Aralık'
                    }
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 1
                    }
                },

                series: [{
                    name: 'Satış',
                    data: satisdata
                }, {
                    name: 'Hedef',
                    data: hedefdata
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        }


        slsrefbolum = 1;
        yilbolum = new Date().getFullYear();
        bolumdata = [{
                name: 'ARI',
                data: []
            }, {
                name: 'HAYAT',
                data: []
            }, {
                name: 'TEMİZLİK',
                data: []
            }, {
                name: 'YEG',
                data: []
            }];

        function getBolumGraph() {
            Highcharts.chart('divBolum', {

                title: {
                    text: 'Bölüm bazında satış'
                },

                subtitle: {
                    text: "Toplam satış: " + toplambolum()
                },

                yAxis: {
                    title: {
                        text: 'Koli'
                    }
                },

                xAxis: {
                    accessibility: {
                        rangeDescription: 'Ocak - Aralık'
                    }
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 1
                    }
                },

                series: bolumdata,

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        }

        $(document).ready(function () {
            SaticilarGetir(window.localStorage["uyeid"]);
            $('#selectSaticilar').on('change', function (e) {
                slsref = this.value;
                HedefGetir();
            });
            $('#selectYil').on('change', function (e) {
                yil = this.value;
                HedefGetir();
            });
            $('#selectSaticilarBolum').on('change', function (e) {
                slsrefbolum = this.value;
                BolumGetir();
            });
            $('#selectYilBolum').on('change', function (e) {
                yilbolum = this.value;
                BolumGetir();
            });
        });
    </script>
}
<select id="selectSaticilar" name="selectSaticilar" class="dropDown selSaticilar grafikUstu">
    <option value="1" selected="selected">Seçiniz</option>
</select>
<select id="selectYil" name="selectYil" class="dropDown selYil grafikUstu">
</select>
<div id="divData"></div>
<br />
<select id="selectSaticilarBolum" name="selectSaticilarBolum" class="dropDown selSaticilar grafikUstu">
    <option value="1" selected="selected">Seçiniz</option>
</select>
<select id="selectYilBolum" name="selectYilBolum" class="dropDown selYil grafikUstu">
</select>
<div id="divBolum"></div>
