<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sultanlar.DatabaseObject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=SERVERDB01; Database=KurumsalWebSAP; User Id=sultanlar; Password=pazarlama; Trusted_Connection=False;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
    <Sultanlar.DatabaseObject.Properties.Settings>
      <setting name="Sultanlar_DatabaseObject_SAPsendorderC_ZwebSendSalesOrderService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
    </Sultanlar.DatabaseObject.Properties.Settings>
  </applicationSettings>
</configuration>
