<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sultanlar.WindowsServiceIslemler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Sultanlar.WindowsServiceIslemler.Properties.Settings>
      <setting name="Sultanlar_WindowsServiceIslemler_getcustomersC_ZwebGetCustomersService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_getcampaignsC_ZwebGetCampaignsService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_getmaterialpricesC_ZwebGetMaterialPricesService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_getmaterialsC_ZwebGetMaterialsService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_getpersonalsC_ZwebGetPersonalsService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_getsalesreportC_ZwebSelectSalesReportService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_getdelinvC_ZwebGetDelInvService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_selectaccountingC_ZwebSelectAccountingService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_selectkolietiketC_ZwebSelectKoliEtiketService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_selectsalesdeliveryC_ZwebSelectSalesDeliveryService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_selectsalesorderC_ZwebSelectSalesOrderService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_selectsalestransportC_ZwebSelectSalesTransportService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_selectsalesvbfaC_ZwebSelectSalesVbfaService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_efaturaC_EFaturaInfoService" serializeAs="String">
        <value>https://efatura.tibet.com.tr/TIBETeFatura/services/EFaturaInfoPort</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_selectsalesgoodsmoveC_ZwebSelectSalesGoodsMoveService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_selectekstreC_ZwebSelectEkstreService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_efatura_EFaturaInfoService" serializeAs="String">
        <value>https://test.efatura.tibet.com.tr/TIBETeFatura/services/EFaturaInfoPort</value>
      </setting>
      <setting name="Sultanlar_WindowsServiceIslemler_gett179tC_ZwebGetT179tService" serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
    </Sultanlar.WindowsServiceIslemler.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>