@page
@model SatisKarsModel
@{
    ViewData["Title"] = "Satış Karşılaştırma Raporu";
}

@section head {
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />
    <style>
        .dataTables_filter {
            display: none;
        }
    </style>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/api/sum().js"></script>

    <script>
        function getYil() { return getParameterByName("yil") ? getParameterByName("yil") : (new Date().getFullYear()).toString(); }
        function getAy() { return getParameterByName("ay") ? getParameterByName("ay") : (new Date().getMonth() + 1).toString(); }
        function getSlsref() { return getParameterByName("slsref") ? getParameterByName("slsref") : $('select[name=selectSaticilar]').val(); }
        function getTur() { return getParameterByName("tur") ? getParameterByName("tur") : "grup"; }

        var kolonlar = [
            {
                "data": "ay", "class": "keyTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data + '</span>';
                }
            },
            {
                "data": "anaCari", "class": "valueTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data.musteri + '</span>';
                }
            },
            {
                "data": "kat", "class": "keyTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data + '</span>';
                }
            },
            {
                "data": "yilkolit", "class": "floaTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data.formatMoney(1, ',', '.') + '</span>';
                }
            },
            {
                "data": "oyilkolit", "class": "floaTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data.formatMoney(1, ',', '.') + '</span>';
                }
            },
            {
                "data": "yilnett", "class": "floaTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data.formatMoney(2, ',', '.') + '</span>';
                }
            },
            {
                "data": "oyilnett", "class": "floaTd", render: function (data, type, row) {
                    return '<span class="sinirli">' + data.formatMoney(2, ',', '.') + '</span>';
                }
            }
        ];

        function SaticilarGetir() {
            var uyeid = window.localStorage["uyeid"];
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    type: 'POST',
                    url: apiurl + "satici",
                    data: '{ "uyeid": "' + uyeid + '" }',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        $.each(data, function (index, item) {
                            $("#selectSaticilar").append(
                                $("<option></option>")
                                    .text(item.sattem)
                                    .val(item.slsmanref)
                            );
                        });

                        $('select[name=selectSaticilar]').val(getSlsref());
                        getRapor();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function getRapor() {
            $("#dtTable input").each(function (index, element) {
                $(element).val("");
            });
            var url1 = apiurl + "satisraporu/getirkars/" + getYil() + "/" + getAy() + "/" + getSlsref() + "/" + getTur() + "/0";
            var table = $('#dtTable').on('xhr.dt', function (e, settings, json, xhr) {
                checkAuth(xhr);
            }).DataTable({
                "responsive": true,
                "destroy": true,
                ajax: {
                    dataSrc: "",
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: url1
                },
                "initComplete": function (settings, json) {

                },
                "fnDrawCallback": function (oSettings) {
                    $('[data-toggle="tooltip"]').tooltip();
                    $('[data-toggle="tooltip"]').css("cursor", "pointer");
                    var api = this.api();
                    $("#spKoli").html(api.column(3, { page: 'current' }).data().sum().formatMoney(1, ',', '.'));
                    $("#spKoliO").html(api.column(4, { page: 'current' }).data().sum().formatMoney(1, ',', '.'));
                    $("#spNet").html(api.column(5, { page: 'current' }).data().sum().formatMoney(2, ',', '.'));
                    $("#spNetO").html(api.column(6, { page: 'current' }).data().sum().formatMoney(2, ',', '.'));

                },
                dom: 'Bfrtip',
                buttons: ['excel', 'pdf', 'print'],
                columns: kolonlar,
                "language": defaultDtLang,
                "paging": true,
                "pagingType": "full_numbers",
                "ordering": false,
                "info": false,
                "searching": true,
                "deferRender": true,
                "order": [[0, "asc"]]
            });
            table.columns().every(function () {
                var that = this;
                $('input', this.header()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            })
        }

        function getRadioCheck() {
            var val;
            $("#divTur input").each(function (index, element) {
                if ($(element).is(':checked')) {
                    val = $(element).val();
                }
            });
            return val;
        }

        function setRadioCheck(val) {
            $("#divTur input").each(function (index, element) {
                if ($(element).val() == val) {
                    $(element).prop("checked", true);
                    $(element).closest("label").addClass("active");
                }
            });
        }

        $(window).on("popstate", function (e) {
            $('select[name=selectSaticilar]').val(getSlsref());
            getRapor();
        });

        $(document).ready(function () {
            $('select[name=selectYil]').val(getYil());
            $('select[name=selectAy]').val(getAy());
            setRadioCheck(getTur());
            SaticilarGetir();

            $('#selectSaticilar').on('change', function (e) {
                window.history.pushState("", "Title", 'SatisKars?yil=' + $('select[name=selectYil]').val() + '&ay=' + $('select[name=selectAy]').val() + '&slsref=' + $('select[name=selectSaticilar]').val() + '&tur=' + getTur());
                getRapor();
            });

            $('#selectYil').on('change', function (e) {
                window.history.pushState("", "Title", 'SatisKars?yil=' + $('select[name=selectYil]').val() + '&ay=' + $('select[name=selectAy]').val() + '&slsref=' + $('select[name=selectSaticilar]').val() + '&tur=' + getTur());
                getRapor();
            });

            $('#selectAy').on('change', function (e) {
                window.history.pushState("", "Title", 'SatisKars?yil=' + $('select[name=selectYil]').val() + '&ay=' + $('select[name=selectAy]').val() + '&slsref=' + $('select[name=selectSaticilar]').val() + '&tur=' + getTur());
                getRapor();
            });

            $('input[type=radio][name=options]').change(function () {
                window.history.pushState("", "Title", 'SatisKars?yil=' + $('select[name=selectYil]').val() + '&ay=' + $('select[name=selectAy]').val() + '&slsref=' + $('select[name=selectSaticilar]').val() + '&tur=' + getRadioCheck());
                setRadioCheck(getTur());
                getRapor();
            });
        });
    </script>
}

<select id="selectSaticilar" name="selectSaticilar" class="dropDown selSaticilar"></select>

<select id="selectYil" name="selectYil" class="dropDown selYil">
    <option value="2019" selected="selected">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
</select>

<select id="selectAy" name="selectAy" class="dropDown selYil">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
</select>
<br />
<div id="divTur" data-toggle="buttons">
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option1" value="grup" autocomplete="off" checked> Grup
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" value="bolum" autocomplete="off"> Bölüm
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" value="kat" autocomplete="off"> Kategori
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option4" value="altkat" autocomplete="off"> Alt Kategori
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option5" value="marka" autocomplete="off"> Marka
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option6" value="bos" autocomplete="off"> Boş
    </label>
</div>

<table id="dtTable" class="table table-striped table-bordered" style="width:100%" data-page-length='100'>
    <thead>
        <tr>
            <th class="keyTd" data-priority="1"><span class="spanCiplak">Ay</span><br /><input type="text" class="form-control input100yuzde" /></th>
            <th class="keyTd" data-priority="2"><span class="spanCiplak">Cari</span><br /><input type="text" class="form-control input100yuzde" /></th>
            <th class="keyTd" data-priority="3"><span class="spanCiplak">Seçim</span><br /><input type="text" class="form-control input100yuzde" /></th>
            <th class="keyTd" data-priority="4"><span class="spanCiplak" data-toggle="tooltip" title="Seçilen Yıl Koli">S.Y.Koli</span><br /><input type="text" class="form-control input100yuzde gizle" /></th>
            <th class="keyTd" data-priority="5"><span class="spanCiplak" data-toggle="tooltip" title="Bir Önceki Yıl Koli">Ö.Y.Koli</span><br /><input type="text" class="form-control input100yuzde gizle" /></th>
            <th class="keyTd" data-priority="6"><span class="spanCiplak" data-toggle="tooltip" title="Seçilen Yıl Net">S.Y.Net</span><br /><input type="text" class="form-control input100yuzde gizle" /></th>
            <th class="keyTd" data-priority="7"><span class="spanCiplak" data-toggle="tooltip" title="Bir Önceki Yıl Net">Ö.Y.Net</span><br /><input type="text" class="form-control input100yuzde gizle" /></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="keyTd"><span class="spanCiplak">Toplam</span></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="floaTd"><span class="spanCiplak" id="spKoli">0</span></th>
            <th class="floaTd"><span class="spanCiplak" id="spKoliO">0</span></th>
            <th class="floaTd"><span class="spanCiplak" id="spNet">0</span></th>
            <th class="floaTd"><span class="spanCiplak" id="spNetO">0</span></th>
        </tr>
    </tfoot>
</table>