@page
@model FisModel
@{
    ViewData["Title"] = "Sayım Fiş Girişi";
}

@section head {
    <script>
        function ekle() {
            var fis = {};
            fis.uyeid = window.localStorage["musteri"];
            fis.ap = false;
            fis.turid = $("#selectTurler").val();
            fis.anaid = $("#selectFisler").val();
            fis.aciklama = $("#inputAciklama").val();
            fis.tarih = getDateNow();
            fis.itemref = $("#selectUrunler").val();
            fis.gmref = getParameterByName("smref");
            fis.stok = $("#inputAdet").val();
            console.log(JSON.stringify(fis));
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    type: 'POST',
                    url: apiurl + 'sayim/fisekle',
                    data: JSON.stringify(fis),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        window.location.href = 'Index?smref=' + getParameterByName("smref");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('hata olustu: ' + errorThrown + ' \r\n\r\n\r\n ' + JSON.stringify(fis));
                    }
                }
            );
        }

        function UrunlerGetir() {
            var url1 = apiurl + "fiyat/getallbytip/22/0/0/0";
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: url1,
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        $("#selectUrunler").empty();
                        $.each(data, function (index, item) {
                            $("#selectUrunler").append(
                                $("<option></option>")
                                    .text('(' + item.itemref + ') ' + item.malacik)
                                    .val(item.itemref)
                            );
                        });

                        $("#selectUrunler").select2({ theme: "bootstrap", language: "tr" });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function TurlerGetir() {
            var url1 = apiurl + "sayim/getirfisturleri";
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: url1,
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        $("#selectTurler").empty();
                        $.each(data, function (index, item) {
                            $("#selectTurler").append(
                                $("<option></option>")
                                    .text(item.aciklama)
                                    .val(item.id)
                            );
                        });

                        $("#selectTurler").select2({ theme: "bootstrap", language: "tr" });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function FislerGetir() {
            var url1 = apiurl + "sayim/getirfisler/" + getParameterByName("smref");
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: url1,
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        $("#selectFisler").empty().append($("<option></option>").text("Önceki fiş yok").val(0));
                        $.each(data, function (index, item) {
                            $("#selectFisler").append(
                                $("<option></option>")
                                    .text(item.aciklama + " (" + item.tarih.substring(0, 10) + ") " + " (" + item.itemref + ") " + "(" + item.stok + ")")
                                    .val(item.id)
                            );
                        });

                        $("#selectFisler").select2({ theme: "bootstrap", language: "tr" });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        $(document).ready(function () {
            getCari(1, getParameterByName("smref"), getCariSube, "sayMus");
            UrunlerGetir();
            TurlerGetir();
            FislerGetir();
        });
    </script>
}

<h5 class="spanCiplak" id="sayMus"></h5>
<span class="txt1">
    Malzeme
</span>
<select id="selectUrunler" name="selectUrunler" class="dropDown selSaticilar" style="width: 100%"></select>
<span class="txt1">
    Fiş Türü
</span>
<select id="selectTurler" name="selectTurler" class="dropDown selSaticilar" style="width: 100%"></select>
@*<span class="txt1">
    Önceki Fiş
</span>
<select id="selectFisler" name="selectFisler" class="dropDown selSaticilar" style="width: 100%"></select>*@
<span class="txt1">
    Adet
</span>
<div class="">
    <input class="form-control" type="text" name="inputAdet" id="inputAdet" autocomplete="off">
</div>
<span class="txt1">
    Açıklama
</span>
<div class="">
    <input class="form-control" type="text" name="inputAciklama" id="inputAciklama" autocomplete="off">
</div>
<br />
<div class="centerVeMiddle">
    <input type="button" class="btn btn-danger" value="Geri Dön" onclick="window.history.back()" />
    <input type="button" id="inputEkle" class="btn btn-success" value="Ekle" onclick="ekle()" />
</div>