@page
@model IcerikModel
@{
    ViewData["Title"] = "Aktivite İçeriği";
}

@section head {
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.css" />

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>

    <script>
        var table;
        var paramsmref;
        var paramftip;
        var paramtip;
        var paramdonem;
        var anlasmaid;
        var aktiviteid;
        var sepet;

        function initSepet() {
            var cookie = JSON.parse(getLocal());
            for (var i = 0; i < cookie.length; i++) {
                if (cookie[i].smref == paramsmref && cookie[i].tip == paramtip && cookie[i].donem == paramdonem && cookie[i].aktiviteid == aktiviteid && cookie[i].anlasmaid == anlasmaid) {
                    for (var j = 0; j < cookie[i].detaylar.length; j++) {
                        sepet.push(
                            {
                                itemref: cookie[i].detaylar[j].itemref,
                                malacik: cookie[i].detaylar[j].malacik,
                                kdv: cookie[i].detaylar[j].kdv,
                                miktar: cookie[i].detaylar[j].miktar,
                                birimfiyat: cookie[i].detaylar[j].birimfiyat,
                                fatalt: cookie[i].detaylar[j].fatalt,
                                fataltciro: cookie[i].detaylar[j].fataltciro,
                                ciroprim: cookie[i].detaylar[j].ciroprim,
                                pazisk: cookie[i].detaylar[j].pazisk,
                                iskonto: cookie[i].detaylar[j].iskonto,
                                cirodusulmus: cookie[i].detaylar[j].cirodusulmus,
                                kdvli: cookie[i].detaylar[j].kdvli
                            }
                        );
                    }
                }
            }
        }

        function aktGoster() {
            table = $('#dtTable').dataTable({
                "scrollX": true,
                "aaData": sepet,
                "aoColumns": aktiviteicerikcolumns,
                "language": defaultDtLang,
                "paging": true,
                "ordering": false,
                "info": false,
                "searching": false
            });
        }

        function getLocal() {
            return window.localStorage['sepetA'];
        }

        function senkRoot() {
            var cookie = JSON.parse(getLocal());
            for (var i = 0; i < cookie.length; i++) {
                if (cookie[i].smref == paramsmref && cookie[i].tip == paramtip && cookie[i].donem == paramdonem && cookie[i].aktiviteid == aktiviteid && cookie[i].anlasmaid == anlasmaid) {
                    cookie[i].detaylar = [];
                    for (var j = 0; j < sepet.length; j++) {
                        cookie[i].detaylar.push(
                            {
                                itemref: sepet[j].itemref,
                                malacik: sepet[j].malacik,
                                kdv: sepet[j].kdv,
                                miktar: sepet[j].miktar,
                                birimfiyat: sepet[j].birimfiyat,
                                fatalt: sepet[j].fatalt,
                                fataltciro: sepet[j].fataltciro,
                                ciroprim: sepet[j].ciroprim,
                                pazisk: sepet[j].pazisk,
                                iskonto: sepet[j].iskonto,
                                cirodusulmus: sepet[j].cirodusulmus,
                                kdvli: sepet[j].kdvli
                            });
                    }
                }
            }
            window.localStorage['sepetA'] = JSON.stringify(cookie);
        }

        function urunSil(itemref) {
            var yenisepet = [];
            for (var i = 0; i < sepet.length; i++) {
                if (sepet[i].itemref != itemref) {
                    yenisepet.push({
                        itemref: sepet[i].itemref,
                        malacik: sepet[i].malacik,
                        kdv: sepet[i].kdv,
                        miktar: sepet[i].miktar,
                        birimfiyat: sepet[i].birimfiyat,
                        fatalt: sepet[i].fatalt,
                        fataltciro: sepet[i].fataltciro,
                        ciroprim: sepet[i].ciroprim,
                        pazisk: sepet[i].pazisk,
                        iskonto: sepet[i].iskonto,
                        cirodusulmus: sepet[i].cirodusulmus,
                        kdvli: sepet[i].kdvli
                    });
                }
            }
            sepet = yenisepet;
            senkRoot();
            //window.location.href = window.location.href;
            table.dataTable().fnDestroy();
            aktGoster();
            keyuplar();
        }

        function urunGuncelle(itemref, isk) {
            var yenisepet = [];
            for (var i = 0; i < sepet.length; i++) {
                if (sepet[i].itemref != itemref) {
                    yenisepet.push({
                        itemref: sepet[i].itemref,
                        malacik: sepet[i].malacik,
                        kdv: sepet[i].kdv,
                        miktar: sepet[i].miktar,
                        birimfiyat: sepet[i].birimfiyat,
                        fatalt: sepet[i].fatalt,
                        fataltciro: sepet[i].fataltciro,
                        ciroprim: sepet[i].ciroprim,
                        pazisk: sepet[i].pazisk,
                        iskonto: sepet[i].iskonto,
                        cirodusulmus: sepet[i].cirodusulmus,
                        kdvli: sepet[i].kdvli
                    });
                }
                else {
                    yenisepet.push({
                        itemref: sepet[i].itemref,
                        malacik: sepet[i].malacik,
                        kdv: sepet[i].kdv,
                        miktar: sepet[i].miktar,
                        birimfiyat: sepet[i].birimfiyat,
                        fatalt: sepet[i].fatalt,
                        fataltciro: sepet[i].fataltciro,
                        ciroprim: sepet[i].ciroprim,
                        pazisk: sepet[i].pazisk,
                        iskonto: isk,
                        cirodusulmus: sepet[i].cirodusulmus,
                        kdvli: sepet[i].kdvli
                    });
                }
            }
            sepet = yenisepet;
            senkRoot();
            //window.location.href = window.location.href;
            table.dataTable().fnDestroy();
            aktGoster();
            keyuplar();
        }

        function sil() {
            if (Object.keys(sepet).length != 0) {
                if (confirm("Aktivite içeriğini silmek istediğinize emin misiniz?")) {
                    sepetBosalt();
                    window.location.href = window.location.href;
                }
            }
        }

        function sSil() {
            if (confirm("Aktiviteyi silmek istediğinize emin misiniz?")) {
                aktSil(JSON.parse(getLocal()));
                if (aktiviteid != 0)
                    window.location.href = 'Sil?aktiviteid=' + aktiviteid;
                else
                    window.location.href = '../Musteri';
            }
        }

        function kaydet() {
            if (Object.keys(sepet).length != 0) {
                if (confirm("Aktiviteyi kaydetmek istediğinize emin misiniz?")) {
                    window.location.href = 'Kaydet?onay=0&smref=' + paramsmref + '&tip=' + paramtip + '&fiyattipi=' + paramftip + '&donem=' + paramdonem + '&anlasmaid=' + anlasmaid + '&aktiviteid=' + aktiviteid;
                }
            }
        }

        function onayla() {
            if (Object.keys(sepet).length != 0) {
                if (confirm("Aktiviteyi kaydetmek ve onay talep etmek istediğinize emin misiniz?")) {
                    window.location.href = 'Kaydet?onay=1&smref=' + paramsmref + '&tip=' + paramtip + '&fiyattipi=' + paramftip + '&donem=' + paramdonem + '&anlasmaid=' + anlasmaid + '&aktiviteid=' + aktiviteid;
                }
            }
        }

        function sepetBosalt() {
            sepet = [];
            senkRoot();
        }

        function keyuplar() {
            $('.inputSecim').on('keyup', delay(function (e) {
                urunGuncelle($(this).closest("tr").find(".itemref").text(), this.value);
            }, 1000));
            $('.inputFiyat').on('keyup', delay(function (e) {
                $(this).closest("tr").find(".inputSecim").val(0);
                var itemref = $(this).closest("tr").find(".itemref").text();
                var fiyat = parseFloat($(this).closest("tr").find(".netkdv").text().replace(",", "."));
                var isk1 = $(this).closest("tr").find(".fatalt").text();
                var isk2 = $(this).closest("tr").find(".fataltciro").text();
                //var isk3 = $(this).closest("tr").find(".cpd").text();
                var isk = iskBul(fiyat, isk1, isk2, 0, this.value);
                //$(this).closest("tr").find(".inputSecim").val(isk);
                urunGuncelle(itemref, isk);
            }, 1000));
        }

        $(document).ready(function () {
            $('#divProgress').css("display", "none");
            paramsmref = getParameterByName('smref');
            paramtip = getParameterByName('tip');
            paramftip = getParameterByName('ftip');
            paramdonem = getParameterByName("donem");
            aktiviteid = getParameterByName('aktiviteid');
            anlasmaid = getParameterByName('anlasmaid');
            sepet = [];
            initSepet();
            aktGoster();
            keyuplar();

            /*table.on('page.dt', function () {
                keyuplar();
            });*/
        });
    </script>
}
<input type="button" class="btn btn-info secimTus" value="Ürün Listesine Dön" onclick="window.history.back()" />
<input type="button" class="btn btn-danger secimTus" value="İçeriği Sil" onclick="sil()" />
<input type="button" class="btn btn-danger secimTus" value="Aktiviteyi Sil" onclick="sSil()" />
<input type="button" class="btn btn-success secimTus" value="Aktiviteyi Kaydet" onclick="kaydet()" />
<input type="button" class="btn btn-success secimTus" value="Aktiviteyi Kaydet ve Onay Talep Et" onclick="onayla()" />
<table id="dtTable" class="table table-striped table-bordered" style="width:100%" data-page-length='400'>
    <thead>
        <tr>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
            <th class="keyTd"></th>
        </tr>
    </thead>
</table>