<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sultanlar.Class.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MAPWebServicesSultanlarTESTBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MAPWebServicesSultanlarTESTBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsx.map.com.tr:443/ws_sultanlar.php"
                binding="basicHttpBinding" bindingConfiguration="MAPWebServicesSultanlarTESTBinding"
                contract="UCZ.MAPWebServicesSultanlarTESTPortType" name="MAPWebServicesSultanlarTESTPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Sultanlar.Class.Properties.Settings>
            <setting name="Sultanlar_Class_Quantum_svcLibraBiz" serializeAs="String">
                <value>http://10.1.1.9/QuantumWeb/svclibrabiz.asmx</value>
            </setting>
            <setting name="Sultanlar_Class_hepsiburada_orders" serializeAs="String">
                <value>http://b2b.hepsiburada.com/services/orders.asmx</value>
            </setting>
            <setting name="Sultanlar_Class_SAPsendorderC_ZwebSendSalesOrderService"
                serializeAs="String">
                <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
            </setting>
        </Sultanlar.Class.Properties.Settings>
    </applicationSettings>
</configuration>