@page
@model AnlasmalarModel
@{
    ViewData["Title"] = "Anlaşmalar";
}

@section head {
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.css" media="none" onload="if(media!='all')media='all'" />

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>

    <script>
        function getSlsref() { return getParameterByName("slsref") ? getParameterByName("slsref") : $('select[name=selectSaticilar]').val(); }
        function getGmref() { return getParameterByName("gmref") ? getParameterByName("gmref") : "0"; }
        function getSmref() { return getParameterByName("smref") ? getParameterByName("smref") : "0"; }
        function getTip() { return getParameterByName("tip") ? getParameterByName("tip") : "1"; }
        function getYil() { return getParameterByName("yil") ? getParameterByName("yil") : (new Date().getFullYear()).toString(); }
        function getAy() { return getParameterByName("ay") ? getParameterByName("ay") : "0"; }
        function getOnay() { return getParameterByName("onay") ? getParameterByName("onay") : "0"; }

        $(window).on("popstate", function (e) {
            CarilerGetir();
        });

        function SaticilarGetir() {
            var uyeid = window.localStorage["uyeid"];
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    type: 'POST',
                    url: apiurl + "satici",
                    data: '{ "uyeid": "' + uyeid + '" }',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        $.each(data, function (index, item) {
                            $("#selectSaticilar").append(
                                $("<option></option>")
                                    .text(item.sattem)
                                    .val(item.slsmanref)
                            );
                        });

                        CarilerGetir();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function CarilerGetir() {
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: apiurl + "cari/getana/" + getSlsref(),
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        $("#selectCariler").empty().append($("<option></option>").text("Tümü").val("0"));
                        $("#selectSubeler").empty().append($("<option></option>").text("Tümü").val("0;;;1"));
                        $.each(data, function (index, item) {
                            $("#selectCariler").append(
                                $("<option></option>")
                                    .text(item.musteri)
                                    .val(item.gmref)
                            );
                        });

                        init();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function SubelerGetir() {
            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: apiurl + "cari/getsube1/" + getGmref(),
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        $("#selectSubeler").empty().append($("<option></option>").text("Tümü").val("0;;;1"));
                        $.each(data, function (index, item) {
                            if (item.smref != getGmref() || item.tip != 4) { // tp den bayi tekrar gelmesin
                                $("#selectSubeler").append(
                                    $("<option></option>")
                                        .text(item.sube)
                                        .val(item.smref + ";;;" + item.tip)
                                );
                            }
                        });

                        $('select[name=selectSubeler]').val(getSmref() + ";;;" + getTip());
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        function AnlasmalarGetir(slsref, gmref, smref, tip) {
            $('#dtTable').on('xhr.dt', function (e, settings, json, xhr) {
                checkAuth(xhr);
            }).DataTable({
                "responsive": true,
                "destroy": true,
                ajax: {
                    dataSrc: "",
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    type: 'POST',
                    url: apiurl + "anlasma/getir",
                    data: function (d) {
                        d.slsref = slsref;
                        d.gmref = gmref;
                        d.smref = smref;
                        d.tip = (tip == 1 ? "2" : "1");
                        d.yil = getYil();
                        d.ay = getAy();
                        d.onay = getOnay();

                        return JSON.stringify(d);
                    },
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                },
                columns: [
                    {
                        "data": "pkID", "class": "keyTd", render: function (data, type, row) {
                            return '<span class="sinirli">' + data + '</span>'
                        },
                        "width": "10%"
                    },
                    {
                        "data": null, "class": "keyTd", render: function (data, type, row) {
                            return '<a href="javascript:showSubMenu(div' + data.pkID + ')" class="btn btn-primary">İşlemler</a>' +
                                '<div class="subMenu" id="div' + data.pkID + '">' +
                                '<a href="Incele?anlasmaid=' + data.pkID + '">İncele</a>' +
                                '<a href="Kopyala?anlasmaid=' + data.pkID + '">Kopyala</a>' +
                                '<a href="Incele?anlasmaid=' + data.pkID + '&yazdir=true">Yazdır</a>';
                        },
                        "width": "10%"
                    },
                    {
                        "data": "musteri", "class": "valueTd", render: function (data, type, row) {
                            return '<span class="sinirli">' + data.strAd + ' ' + data.strSoyad + '</span>'
                        },
                        "width": "20%"
                    },
                    {
                        "data": "cari", "class": "valueTd", render: function (data, type, row) {
                            return '<span class="sinirli">' + data.sube + '</span>'
                        },
                        "width": "30%"
                    },
                    {
                        "data": "dtBaslangic", "class": "keyTd", render: function (data, type, row) {
                            return '<span class="sinirli">' + data.replace("T", " ").replace(" 00:00:00", "") + '</span>'
                        },
                        "width": "15%"
                    },
                    {
                        "data": "dtBitis", "class": "keyTd", render: function (data, type, row) {
                            return '<span class="sinirli">' + data.replace("T", " ").replace(" 00:00:00", "") + '</span>'
                        },
                        "width": "15%"
                    }
                ],
                "language": defaultDtLang,
                "paging": true,
                "ordering": true,
                "info": false,
                "searching": true,
                "deferRender": true,
                "order": [[0, "desc"]]
            });
        }

        function init() {
            var slsref = getSlsref();
            var gmref = getGmref();
            var smref = getSmref();
            var tip = getTip();
            var yil = getYil();
            var ay = getAy();
            var onay = getOnay();

            if (slsref != "0") {
                $('select[name=selectSaticilar]').val(slsref);
            }
            if (gmref != "0") {
                $('select[name=selectCariler]').val(gmref);
                SubelerGetir();
            }
            if (yil != "0") {
                $('select[name=selectYil]').val(yil);
            }
            if (ay != "0") {
                $('select[name=selectAy]').val(ay);
            }
            setRadioCheck(onay);

            if (smref != "0") {
                AnlasmalarGetir(0, 0, smref, tip);
            }
            else if (gmref != "0") {
                AnlasmalarGetir(0, gmref, 0, tip);
            }
            else if (slsref != "0") {
                AnlasmalarGetir(slsref, 0, 0, tip);
            }
            else {
                AnlasmalarGetir($('select[name=selectSaticilar]').val(), 0, 0, tip);
            }
        }

        function getRadioCheck() {
            var val;
            $("#divOnay input").each(function (index, element) {
                if ($(element).is(':checked')) {
                    val = $(element).val();
                }
            });
            return val;
        }

        function setRadioCheck(val) {
            $("#divOnay input").each(function (index, element) {
                if ($(element).val() == val) {
                    $(element).prop("checked", true);
                    $(element).closest("label").addClass("active");
                }
            });
        }

        $(document).ready(function () {
            SaticilarGetir();

            $('#selectSaticilar').on('change', function (e) {
                window.history.pushState("", "Title", 'Anlasmalar?slsref=' + $('select[name=selectSaticilar]').val() + '&gmref=0&smref=0&tip=1&yil=' + getYil() + '&ay=' + getAy() + '&onay=' + getOnay());
                CarilerGetir();
            });
            $('#selectCariler').on('change', function (e) {
                $("#selectSubeler").empty().append($("<option></option>").text("Tümü").val("0;;;1"));
                window.history.pushState("", "Title", 'Anlasmalar?slsref=' + getSlsref() + '&gmref=' + $('select[name=selectCariler]').val() + '&smref=0&tip=' + getTip() + '&yil=' + getYil() + '&ay=' + getAy() + '&onay=' + getOnay());
                init();
            });
            $('#selectSubeler').on('change', function (e) {
                window.history.pushState("", "Title", 'Anlasmalar?slsref=' + getSlsref() + '&gmref=' + getGmref() + '&smref=' + ($('select[name=selectSubeler]').val() == "0;;;1" ? "0" : $('select[name=selectSubeler]').val().substring(0, 7)) + '&tip=' + ($('select[name=selectSubeler]').val() == "0;;;1" ? "1" : $('select[name=selectSubeler]').val().substring(10)) + '&yil=' + getYil() + '&ay=' + getAy() + '&onay=' + getOnay());
                init();
            });
            $('#selectYil').on('change', function (e) {
                window.history.pushState("", "Title", 'Anlasmalar?slsref=' + getSlsref() + '&gmref=' + getGmref() + '&smref=' + getSmref() + '&tip=' + getTip() + '&yil=' + $('select[name=selectYil]').val() + '&ay=' + getAy() + '&onay=' + getOnay());
                init();
            });
            $('#selectAy').on('change', function (e) {
                window.history.pushState("", "Title", 'Anlasmalar?slsref=' + getSlsref() + '&gmref=' + getGmref() + '&smref=' + getSmref() + '&tip=' + getTip() + '&yil=' + getYil() + '&ay=' + $('select[name=selectAy]').val() + '&onay=' + getOnay());
                init();
            });
            $('input[type=radio][name=options]').change(function () {
                window.history.pushState("", "Title", 'Anlasmalar?slsref=' + getSlsref() + '&gmref=' + getGmref() + '&smref=' + getSmref() + '&tip=' + getTip() + '&yil=' + getYil() + '&ay=' + getAy() + '&onay=' + getRadioCheck());
                init();
            });

            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("subMenu");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            };
        });
    </script>
}
<select id="selectSaticilar" name="selectSaticilar" class="dropDown selSaticilar"></select>

<select id="selectYil" name="selectYil" class="dropDown selYil">
    <option value="2021" selected="selected">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
</select>

<select id="selectAy" name="selectAy" class="dropDown selYil">
    <option value="0">Tümü</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
</select>

<br />
<select id="selectCariler" name="selectCariler" class="dropDown selSaticilar">
    <option value="0" selected="selected">Tümü</option>
</select>
<select id="selectSubeler" name="selectSubeler" class="dropDown selSaticilar">
    <option value="0;;;1" selected="selected">Tümü</option>
</select>

<div id="divOnay" class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option1" value="2" autocomplete="off"> Hepsi
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" value="1" autocomplete="off"> Onaylanmış
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" value="0" autocomplete="off" checked> Talep Edilmiş
    </label>
</div>

<table id="dtTable" class="table table-striped table-bordered" style="width:100%" data-page-length='50'>
    <thead>
        <tr>
            <th class="keyTd"><span class="">No</span></th>
            <th class="keyTd"></th>
            <th class="keyTd"><span class="">Giren</span></th>
            <th class="keyTd"><span class="">Cari</span></th>
            <th class="keyTd"><span class="">Başl.</span></th>
            <th class="keyTd"><span class="">Bitiş</span></th>
        </tr>
    </thead>
</table>