@page
@model PrivacyModel
@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#divProgress').css("display", "none");
    });

</script>

<script>girissayfasi = true;</script>
<p>
    Üyelerimizin-Müşterilerimizin Sultanlar Satış Uygulamasına vermiş olduğu bilgilerin gizliliği, korunması ve ilgili diğer hususlarda aşağıda cari kuralları belirtilen Gizlilik Politikası benimsenmiştir. Girilen bilgilerin ve işlemlerin güvenliği için gerekli önlemler, bilgi ve işlemin mahiyetine göre Tibet İthalat İhracat ve Kozmetik Sanayi A.Ş ve/veya ilgili kart kuruluşlarınca sistem ve internet altyapısında alınmıştır. Tüm kredi kartı işlemleri ve onayları tarafımızdan bağımsız olarak ilgili banka ve benzeri kart kuruluşları‘nca online olarak aranızda gerçekleştirilmektedir (Kredi kartı şifresi gibi bilgiler Tibet İthalat İhracat ve Kozmetik Sanayi A.Ş tarafından görülmez ve kaydedilmez).
</p>
<p>
    Müşterilerimizin uygulamamıza üyelik, ürün/hizmet satın alma ve bilgi güncelleme amaçlı girdikleri bilgiler, özellikle kredi kartı ve banka kartlarına ait gizli bilgiler diğer internet kullanıcıları tarafından görüntülenemez. Üyelerimize-Müşterilerimize ait bilgiler yasal düzenlemelerin öngördüğü sorumluluklarımız çerçevesinde ilgili kuruluşlara açıklanabilir. Ayrıca üyelikleri ve/veya alışverişleri sırasında vermiş oldukları iletişim bilgileri (telefon, adres, e-mail vs) ve diğer kişisel bilgiler Sitemize üyelik işlemlerinizin yapılması, güncellenmesi, muhtelif ürün/hizmetlerin Tibet İthalat İhracat ve Kozmetik Sanayi A.Ş ile iş ortakları ve tedarikçileri tarafından verilebilmesi/satımı, ürün/hizmet ücret-masrafı tahsilatları ve çeşitli tanıtım, reklam, promosyon, iletişim, satış ve kartlandırma uygulamaları için süresiz olarak kayda alınabilir, Tibet İthalat İhracat ve Kozmetik Sanayi A.Ş ve belirtilen kuruluşlar nezdinde saklanabilir, işlenebilir, gerekli görülen hal-yer ve zamanda paylaşılabilir ve kullanılabilir.
</p>
<p>
    Sultanlar Satış Uygulaması’nın gönderdiği tüm e-postalarda yer alan “üyelikten ayrıl” linkini kullanarak tek tıkla, kolayca e-posta bülten üyeliğinden ayrılabilirsiniz. Uygulamamızda yer alan her türlü bilgi, içerik ile bunların düzenlenmesi ve kısmen/tamamen kullanımı konusunda (Tibet İthalat İhracat ve Kozmetik Sanayi A.Ş ile anlaşmasına göre üçüncü şahıslara ait olanlar hariç) tüm fikri-sınai haklar ve mülkiyet hakları Tibet İthalat İhracat ve Kozmetik Sanayi A.Ş‘ye aittir. Ek bilgi almak istediğiniz konularda haftaiçi 08:00 - 17:00 saatleri arasında 0800 261 66 05 numaralı Müşteri Hizmetleri telefonumuzdan veya info@sultanlar.com.tr eposta adresinden Tibet İthalat İhracat ve Kozmetik Sanayi A.Ş ‘ye danışabilirsiniz.
</p>