@page
@model PrivacyModel
@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#divProgress').css("display", "none");
    });

</script>

<script>girissayfasi = true;</script>
<p>Sultanlar.com.tr gizlilik politikası.</p>