<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Menü</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" style="overflow-x: scroll !important;">
            <div class="navbar-ic">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:showSubMenu(divMusSub)" onmouseover="showSubMenu(divMusSub)" onmouseout="divMusSub.classList.remove('show')">Müşteriler</a>
                        <div onmouseover="showSubMenu(divMusSub)" onmouseout="divMusSub.classList.remove('show')" class="subMenu" id="divMusSub">
                            <a href="../../../../../../../../../Musteri">Ana Ekran</a>
                            <a href="../../../../../../../../../Musteri/Konum/">Konumlar</a>
                            <a href="../../../../../../../../../Musteri/Rut/">Rutlar</a>
                            <a href="../../../../../../../../../Musteri/Resim/">Resimler</a>
                        </div>
                    </li>
                    <li><a href="../../../../../../../../../Siparis/Siparisler">Siparişler</a></li>
                    <li><a href="../../../../../../../../../Iade/Iadeler">İadeler</a></li>
                    <li><a href="../../../../../../../../../Ziyaret/Ziyaretler">Ziyaretler</a></li>
                    <li><a href="../../../../../../../../../Anlasma/Anlasmalar">Anlaşmalar</a></li>
                    <li><a href="../../../../../../../../../Aktivite/Aktiviteler">Aktiviteler</a></li>
                    <li>
                        <a href="javascript:showSubMenu(divRapSub)" onmouseover="showSubMenu(divRapSub)" onmouseout="divRapSub.classList.remove('show')">Raporlar</a>
                        <div onmouseover="showSubMenu(divRapSub)" onmouseout="divRapSub.classList.remove('show')" class="subMenu" id="divRapSub">
                            <a href="../../../../../../../../../Rapor/Ekstre">Ekstre</a>
                            <a href="../../../../../../../../../Rapor/Satis">Satış</a>
                            <a href="../../../../../../../../../Rapor/SatisHedef">Satış Hedef</a>
                            <a href="../../../../../../../../../Rapor/SatisOzet">Satış Özet</a>
                            <a href="../../../../../../../../../Rapor/SatisKars">Satış Karşılaştırma</a>
                            <a href="../../../../../../../../../Rapor/BorcAlacak">Borç Alacak</a>
                            <a href="../../../../../../../../../Rapor/Stok">Stok</a>
                            <a href="../../../../../../../../../Rapor/Siparis">Sipariş</a>
                            <a href="../../../../../../../../../Rapor/SiparisDetay">Sipariş Detay</a>
                            <a href="../../../../../../../../../Rapor/SiparisDurum">Sipariş Durum</a>
                        </div>
                    </li>
                    <li><a href="../../../../../../../../../Uyelik">Üye İşlemleri</a></li>
                    <li><a href="../../../../../../../../../Mesaj"><span id="spanMesaj">Mesajlar</span></a></li>
                    <li><a href="../../../../../../../../../Cikis">Çıkış</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
