<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sultanlar.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=.; Database=copyKurumsalWeb; Integrated Security=sspi;" />
    <add name="Sultanlar.UI.Properties.Settings.KurumsalWebSAPConnectionString"
      connectionString="Data Source=.;Initial Catalog=KurumsalWebSAP;User ID=sultanlar;Password=megastar"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="svcLibraBizSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="svcLibraBizSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.1.9/QuantumWeb/svclibrabiz.asmx"
        binding="basicHttpBinding" bindingConfiguration="svcLibraBizSoap"
        contract="QuantumWeb.svcLibraBizSoap" name="svcLibraBizSoap" />
      <endpoint address="http://10.1.1.9/QuantumWeb/svclibrabiz.asmx"
        binding="customBinding" bindingConfiguration="svcLibraBizSoap12"
        contract="QuantumWeb.svcLibraBizSoap" name="svcLibraBizSoap12" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Sultanlar.UI.Properties.Settings>
      <setting name="Sultanlar_SAPsendorder_ZwebSendSalesOrderService"
        serializeAs="String">
        <value>http://exper2.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_SAPsendorderC_ZwebSendSalesOrderService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_SAPchangeorderC_ZWEB_CHANGE_SALES_ORDERService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_getsalesreportC_ZwebSelectSalesReportService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_getcustomersC_ZwebGetCustomersService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_selectsalesvbfaC_ZwebSelectSalesVbfaService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_selectsalestransportC_ZwebSelectSalesTransportService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_selectsalesorderC_ZwebSelectSalesOrderService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_selectsalesgoodsmoveC_ZwebSelectSalesGoodsMoveService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_selectsalesdeliveryC_ZwebSelectSalesDeliveryService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_selectkolietiketC_ZwebSelectKoliEtiketService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_selectekstreC_ZwebSelectEkstreService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_selectaccountingC_ZwebSelectAccountingService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_getmaterialpricesC_ZwebGetMaterialPricesService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_getpersonalsC_ZwebGetPersonalsService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="Sultanlar_getmaterialsC_ZwebGetMaterialsService"
        serializeAs="String">
        <value>http://stella.tibet.com.tr:8000/sap/bc/soap/rfc</value>
      </setting>
    </Sultanlar.UI.Properties.Settings>
  </applicationSettings>
</configuration>
