@page
@model FiyatListeModel
@{
    ViewData["Title"] = "Fiyat Listeleri";
}

@section head {
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.css" />

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>

    <style>
        table.dtFiyat {
            width: 0px !important;
            min-width: 270px;
            margin: 0 auto;
        }
    </style>

    <script type="text/javascript">
        function UyeYetkileri(uyeid) {

            $.ajax(
                {
                    xhr: function () { return xhrDownloadUpload(); },
                    beforeSend: function (xhr) { xhrTicket(xhr); },
                    url: apiurl + "uyeyetki/" + uyeid,
                    success: function (data, textStatus, response) {
                        checkAuth(response);

                        var rootData = Object.keys(data.fiyatTipleri).length == 0 ? data.grupFiyatTipleri : data.fiyatTipleri;

                        var htmlText = '<table id="dtTable1" class="dtFiyat table table-striped table-bordered"><thead><tr><th class="keyTd">Fiyat Tipleri</th></tr></thead><tbody>';
                        $.each(rootData, function (i, item) {

                            htmlText += '<tr class="onclickcursor" onclick="window.location.href = \'../Ziyaret/Varyok?gmref=' + rootData[i].fiyatTipi.gmref + '&smref=' + rootData[i].fiyatTipi.gmref + '&mtip=1&ziyaretid=0&ftip=' + rootData[i].fiyatTipi.nosu + '\'">';
                            htmlText += '<td class="valueTd">' + rootData[i].fiyatTipi.aciklama + '</td>';
                            htmlText += '</tr>';
                        });

                        $.ajax(
                            {
                                xhr: function () { return xhrDownloadUpload(); },
                                beforeSend: function (xhr) { xhrTicket(xhr); },
                                url: apiurl + "fiyat/getfiyattipler500birlikte",
                                async: false,
                                success: function (data2, textStatus, response) {

                                    $.each(data2, function (i, item2) {
                                        htmlText += '<tr class="onclickcursor" onclick="window.location.href = ">';
                                        htmlText += '<td class="valueTd">' + item2.aciklama + '</td>';
                                        htmlText += '</tr>';
                                    });
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                            });
                        divData.innerHTML = htmlText + '</table>';
                        initDt(0, false, false, false, false);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { console.log('hata'); }
                }
            );
        }

        $(document).ready(function () {
            UyeYetkileri(localStorage["musteri"]);
        });
    </script>
}

<div id="divData"></div>